<div class="container-fluid">

  <div class="row text-center">
    <h1>Welcome to Q n' A!</h1>
    <h4><em>This site is in alpha stage of development. It is not an official release.</em></h4>
    <h4><em>Accordingly, please <u>do not enter any sensitive information</u> such as a legitimate e-mail address or passwords used elsewhere.</em></h4>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2 class="heading">Register</h2>
    </div>
    <div class="col-sm-8">
      <ul class=" align-text-bottom align-bottom">
        <li  class=" align-text-bottom align-bottom" ng-repeat='error in UC.registrationErrors'>{{error}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <form ng-submit="UC.create(UC.newUser)">

      <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
          <h4 class="heading">Name</h4>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="UC.newUser.name">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
          <h4 class="heading">Password</h4>
        </div>
        <div class="col-sm-4">
          <input type="password" class="form-control" ng-model="UC.newUser.password">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
          <h4 class="heading">Password Confirmation</h4>
        </div>
        <div class="col-sm-4">
          <input type="password" class="form-control" ng-model="UC.newUser.password_confirmation">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 heading">
          <input class="btn" type="submit" value="Register">
        </div>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2 class="heading">Log In</h2>
    </div>
    <div class="col-sm-8 align-text-bottom align-bottom">
      <ul>
        <li ng-repeat='error in UC.loginErrors'>{{error}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <form ng-submit="UC.login(UC.checkUser)">

      <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
          <h4 class="heading">Name</h4>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" ng-model="UC.checkUser.name">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
          <h4 class="heading">Password</h4>
        </div>
        <div class="col-sm-4">
          <input type="password" class="form-control" ng-model="UC.checkUser.password">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 heading">
          <input class="btn" type="submit" value="Log In">
        </div>
      </div>

    </form>
  </div>
</div>
