<h2>Register</h2>
<ul>
  <li ng-repeat='error in UC.registrationErrors'>{{error}}</li>
</ul>
<form ng-submit="UC.create(UC.newUser)">
  Name: <input type="text" ng-model="UC.newUser.name"><br>
  Password: <input type="password" ng-model="UC.newUser.password"><br> 
  Password confirmation: <input type="password" ng-model="UC.newUser.password_confirmation"><br>
  <input type="submit" value="Register">
</form>

<h2>Log In</h2>
<ul>
  <li ng-repeat='error in UC.loginErrors'>{{error}}</li>
</ul>
<form ng-submit="UC.login(UC.checkUser)">
  Name: <input type="text" ng-model="UC.checkUser.name"><br>
  Password: <input type="password" ng-model="UC.checkUser.password"><br>
  <input type="submit" value="Log In">
</form>
