<div class="container-fluid" ng-controller="QuestionsController as QC">
  <div ng-controller="AnswersController as AC">

    <div class="row" ng-init="UC.check(); QC.show()">
      <a href="#!/"><button type="button" class="btn" name="button">Home</button></a>
    </div>

    <div class="row">
      <a href="#" ng-click="UC.logout()"><button type="button" class="btn" name="button">Logout</button></a>
    </div>

    <h1>{{ QC.question.question }}</h1>
    <h2>{{ QC.question.description }}</h2>
    <a href="#!/questions/{{QC.question._id}}" ><button type="button" class="btn" name="button">Back to Question</button></a>
    <br><br>

    <ul>
      <li ng-repeat='error in AC.errors'>{{error}}</li>
    </ul>
    <form ng-submit="AC.create(AC.newAnswer)">
      <label>Your Answer <input type="text" class="form-control" ng-model="AC.newAnswer.answer"></label><br><br>
      <label>Supporting details for your answer (optional) <input type="text" class="form-control" ng-model="AC.newAnswer.detail"></label><br><br>
      <input class="btn" type="submit" value="Submit">
    </form>
    <br>
    <a href="#!/questions/{{QC.question._id}}"><button type="button" class="btn" name="button">Cancel</button></a>

  </div>
</div>
