<div class="container-fluid" ng-controller="QuestionsController as QC">

  <div class="row" ng-init="UC.check(); QC.show()">
    <a href="#!/"><button type="button" class="btn" name="button">Home</button></a>
    <a href="#" ng-click="UC.logout()"><button type="button" class="btn" name="button">Logout</button></a>
  </div>

  <h1>New Question</h1>

  <ul>
    <li ng-repeat='error in QC.errors'>{{error}}</li>
  </ul>

  <form ng-submit="QC.create(QC.newQuestion)">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="heading">Question</h4>
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="QC.newQuestion.question">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <h4 class="heading">Description (optional)</h4>
      </div>
      <div class="col-sm-7">
        <input type="text" class="form-control" ng-model="QC.newQuestion.description">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-7">
        <input class="btn" type="submit" value="Submit">
        <a href="#!/" ><button type="button" class="btn" name="button">Cancel</button></a>
      </div>
    </div>
  </form>

</div>
